{% extends 'pages/baseTeam.html' %}

{% block content %}

<h1> Show all teams</h1>
<p><a href="{% url 'createTeam' %}">Add New Team</a></p>

<ul>
    {%for team in all_teams_list %}
    <ui><a href="{% url 'team' team.pk%}">{{team.name}}</a> ({{team.region}})
        <img src="{{team.teamIcon}}" style="max-width: 500;">
        <ol>
            <li><a href="{% url 'player' team.member1.pk%}">{{team.member1.gameTag}}</a></li>
            <li><a href="{% url 'player' team.member2.pk%}">{{team.member2.gameTag}}</a></li>
            <li><a href="{% url 'player' team.member3.pk%}">{{team.member3.gameTag}}</a></li>
            <li><a href="{% url 'player' team.member4.pk%}">{{team.member4.gameTag}}</a></li>
            <li><a href="{% url 'player' team.member5.pk%}">{{team.member5.gameTag}}</a></li>
        </ol>
    </ui>
    {% endfor %}
</ul>

{% endblock %}